<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjy.bll.dao.FunctionInfoDao">
	<!-- 公共信息 -->
	<!-- 字段 -->
	<sql id="field">
		id, name, menuId, code, path, seq
	</sql>
	 <!-- 带前缀的字段 -->
	<sql id="fieldWithPrefix">
		${tableName}.id, ${tableName}.name, ${tableName}.menuId, ${tableName}.code, ${tableName}.path, ${tableName}.seq
	</sql>
</mapper>