<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjy.dao.RoleInfoDao">
	<select id="queryAllRole" resultType="com.zjy.dao.vo.RoleInfoVo">
		SELECT <include refid="fieldWithPrefix"><property name="tableName" value="r"/></include>
		FROM role_info r
		order by r.seq
	</select>
	<!-- 公共信息 -->
	<!-- 字段 -->
	<sql id="field">
		id, name, code, seq
	</sql>
	 <!-- 带前缀的字段 -->
	<sql id="fieldWithPrefix">
		${tableName}.id, ${tableName}.name, ${tableName}.code, ${tableName}.seq
	</sql>
</mapper>