<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjy.dao.UpgradeLogDao">
	<select id="query" resultType="com.zjy.dao.vo.UpgradeLogVo">
		SELECT <include refid="fieldWithPrefix"><property name="tableName" value="upgradeLog"/></include>
		FROM upgrade_log upgradeLog
		<where>
			<if test='title != null and title != ""'>
				and title like '%' || #{title, jdbcType=VARCHAR} || '%'
			</if>
		</where>
		order by upgrade_time desc
	</select>

    <!-- 公共信息 -->
    <!-- 字段 -->
    <sql id="field">
		id, upgrade_time, title, content, create_time
	</sql>
    <!-- 带前缀的字段 -->
    <sql id="fieldWithPrefix">
		${tableName}.id, ${tableName}.upgrade_time, ${tableName}.title, ${tableName}.content, ${tableName}.create_time
	</sql>
</mapper>